.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.select {
    width: 220px;
    height: 45px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 5px;
}

.select2     {
    width: 220px;
    height: 45px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 5px;
}

#text {
    width: 240px;
    height: 40px;
    padding-left: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

.text2 {
    position: relative;
    left: -30px;
    top: 3px;
    cursor: pointer;
}

.btn {
    height: 45px;
    width: 100px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.form {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.ul {
    display: flex;
    margin-left: 78px;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    border-radius: 15px;
    width: 190px;
    height: 230px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
    background: white;
}

.h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-top: 12px;
}

.div2 {
    border-top: 1px solid black;
    text-align: left;
    padding-left: 15px;
    margin-top: 20px;
    position: relative;
}

.pi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 2px;
}

.div3 {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.pi2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
}

.pi3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    margin-left: 20px;
}

.img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 190px;
}

.body {
    background-image: url(/img/poki.png);
    background-repeat: no-repeat;
    margin: 0;  
    height: 100vh;
    width: 100vw;
    background-size: 1370px 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divv {
    background: transparent;
    border: 2px solid rgb(255, 217, 0);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 30px 50px 30px 50px;
    text-align: center;
}

.email__input {
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(255, 217, 0);
    width: 270px;
    height: 40px;
    margin-bottom: 15px;
    background: none;
    color:  rgb(255, 217, 0);
    padding-left: 6px;
}

#password__input {
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(255, 217, 0);
    width: 270px;
    height: 40px;
    background: none;
    color: rgb(255, 217, 0);
    padding-left: 6px;
    margin-bottom: 15px;
}

.h1 {
    color: rgb(255, 217, 0);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
}

.btn5 {
    width: 282px;
    height: 40px;
    display: block;
    border-radius: 5px;
    border: 2px solid rgb(255, 217, 0);
    background: none;
    color: rgb(255, 217, 0);
    cursor: pointer;
}

#bt {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    top: -47px;
    left: 120px;
}
